# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist
build

# Dependency directories
jspm_packages/

# System files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Other files
coverage/
*.tgz
*.lock
*.tmp
*.bak